= label :word, :title, '单词'
= text_field :word, :title 
= label :word, :in_chinese, '中文释义'
= text_field :word, :in_chinese 
-#= label :word, :add_date, '添加日期'
-#= datetime_select :word, :add_date, :use_month_numbers => true, :ampm => true 
  