-#  This file is app/views/movies/index.html.haml
%h2 添加新单词
= form_tag words_path, :method => :post do
  = render :partial => 'word_editing_form'
  %div= submit_tag '添加'

%h2=link_to"最近编辑过的单词", words_path
=render :partial => 'words_list'

