/* Simple CSS styling for RottenPotatoes app */
/* Add these lines to app/assets/stylesheets/application.css */
a {
  background: transparent;
  color: #690;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: orange;
}
html, body {
  width: auto;
  margin: 0;
  padding: 0;
  background: white;
  color: #666;
  font-size: 12pt;
}
#main {
  padding: 0px 30px;
}
#header {
  background: #666;
  background-image: url('gradient-dark-nav.png');
  height: 30px;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0px 0px 25px;
  border-bottom: 1px solid #333;
  width: auto;
}
#header_logo {
  float: left;
  margin: 3px 25px 3px 55px;
}

#header_logo img{
  margin: 5px 5px;
  height: 17px;
}
.nav li a{
  color: yellowgreen !important;;
}
.nav li a:hover{
  color: orange !important;;
}
/*ul.nav{
  margin: 0px 0px 0px 170px;
  background: transparent;
  list-style: none inside none;
  color: fuchsia;
  border: 0px solid red;
  position: absolute;
  width: auto;
  display: block;
  padding: 0px;
}
.func_nav_item{
  width: 100px;
}
.login_nav_item{
  width: 170px;
}
li {
  width: 100px;
  display: list-item;
  float: left;
  border-width: 0px 1px 0px 0px;
  border-color: #4e4e4e;
  border-style: solid;
  margin: 0px;
  height: 30px;
  padding: 0;
  outline: 0;
  font-size: 100%;
  text-align: center;
  line-height: 250%;
}
li:first-child{
  border-left-width: 1px;
}
.login_nav_item a, .func_nav_item a{
  color: yellowgreen;
}
.login_nav_item a:hover, .func_nav_item a:hover{
  color: orange;
}
#qq_logo_1{
  margin-top: 0px;
}*/
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
h1 {
  color: maroon;
  font-size: 200%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid black;
}
h1.title, h1.title a {
  margin: 0 0 1em;
  padding: 75px 10px 10px;
  background-color: #FFFFFF;
  color: #28201e;
  border-bottom: 0px solid greenyellow;
  font-size: 1.5em;
  font-style: normal;
  width: auto;
}
h1.title a:hover {
  color: #D6DFE8;
}
h2 {
  color: #069;
  font-size: 175%;
  padding: 20px 0px 0px;
}
h3 {
  font-weight:normal;
  font-size: 150%;
  padding: 0px 19px;
}
.in_chinese{
  font-style: italic;
}
table{
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid yellowgreen;
}
/*#ji_table tr:nth-child(2n) {
  background-color: #deb;
}*/
table tr:hover {
  background-color: #c2e184;
}
table th {
  border: 2px solid white;
  font-weight: bold;
  background-color: yellowgreen;
}
table#words th {
}
table#sentences th {
}
table th, table td {
  padding: 4px;
  text-align: left;
}
#no_related_sentence{
  font-style: italic;
  color: grey;  
}
#related_words_tr{
  border-bottom: 1px solid yellowgreen;
}
#tr_sentence_in_chinese{
  color: grey;
}
#tr_sentence_in_chinese, #tr_related_words{
  text-indent: 10px;
}
#notice, #warning, #error {
  background: yellowgreen;
  color: white;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: normal;
}
textarea { 
  height: 40px;
}
.text_warning{
  color: dodgerblue;
  font-style: italic;
  font-size: 80%;
}
.text_warning:hover{
  color: maroon;
}

/* ================  switch to twitter bootstrap  ================= */
/* Large desktop */
@media (min-width: 980px){
  body {
    padding-top: 60px; 
  }
  .linediv-l {
    border-right: 1px white solid;
  }
  .linediv-r {
    border-left: 1px white solid;
  }
}
/* Landscape phones and down*/
@mdeia (max-width: 480px) {
  .copy {
    padding:2.5% 10%;
  }
  .linediv-l {
    border-bottom: 1px white solid;
  }
  .linediv-r {
    border-top: 1px white solid;
  }
}
/* All form factors */
/* Main body and headings */
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif, "Microsoft Yahei";
}
.heading, .subheading {
  font-family: 'Ubuntu', Helvativa, Arial, sans-serif, "Microsoft Yahei";
  text-align: center;
}
.heading h1 {
  font-family: 'Lobster Two', cursive, "Microsoft Yahei";
}
p.lead {
  padding-top: 1.5%;
  font-size: 24px;
  line-height: 30px;
}
p {
  font-size: 18px;
  line-height: 24px;
}

/* Video pitch and Action*/
.pitch {
  padding: 1% 0%;
}
.order {
  padding: 1% 0%;
}
.actions {
  background-color: #343434;
  padding: 1% 0%;
}
.video, .thermometer, .order, .social, .statistics {
  text-align: center;
}
.statistics h3, .statistics p {
  padding: 1% 0%;
  color: white;
}
h2 {
  text-align: center;
  padding: 5% 0% 1%;
}
h3, h4 {
  text-align: center;
}
.statistics h3 {
  margin: 0px;
}

/* Marketing Copy and Footer*/
.copy {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: justify;
}
.asset {
  padding: 2.5% 0%;
}
.footer {
  color: #cccccc;
  text-align: center;
}
.footer p {
  font-size: 11px;
}
.footer a {
  color: #ccccff;
}
div.addthis_toolbox {
  width:220px;
  margin: 0 auto;
}
/* style change on the remember asking page */
.rememberbutton {
  text-align: center;
}