/* Simple CSS styling for RottenPotatoes app */
/* Add these lines to app/assets/stylesheets/application.css */
 
html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: Black;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11pt;
}
#log_nav, #logedin_nav {
  position: absolute;
  right: 18px;
}
#log_nav li, #logedin_nav li {
  float: left;
  width: 175px;
  height: 70px;
  position: relative;
}
ol, ul {
  list-style: none outside none;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: #000033;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid Black;
}
h1.title, h1.title a {
  margin: 0 0 1em;
  padding: 10px;
  background-color: yellowgreen;
  color: dodgerblue;
  border-bottom: 4px solid greenyellow;
  font-size: 1.5em;
  font-style: normal;
}
table#words {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#words th {
  border: 2px solid white;
  font-weight: bold;
  background-color: yellowgreen;
}
table#words th, table#words td {
  padding: 4px;
  text-align: left;
}
table#sentences {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#sentences th {
  border: 2px solid white;
  font-weight: bold;
  background-color: yellowgreen;
}
table#sentences th, table#sentences td {
  padding: 4px;
  text-align: left;
}
#notice, #warning, #error {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: Black;
}
#no_related_sentence{
  color: grey;
  font-style: italic;
}
#translated_tr{
  border-bottom: 2px solid yellowgreen;

}
#tr_sentence_in_chinese{
  font-style: italic;
  color: grey;
  text-indent: 7px;
}
}